<footer class="bg-dark text-white pt-5 pb-4 mt-auto">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Brčko Bus</h5>
                <p>
                    Nudimo pregledno formatirane informacije o rasporedu javnog prijevoza u Brčko
                    distriktu. Napominjemo da nismo operater prijevoza niti službeni distributer podataka prijevoznika.
                    Podaci i satnice po kojima je stranica napravljena su javno dostupni i objavljeni u javnim medijima.
                    <a href="https://radiobrcko.ba/vijesti-brcko/brcko-red-voznje-gradskog-prevoza/" target="_blank"
                        class="text-white text-decoration-none">Pogledajte ovdje</a> ili <a
                        href="https://www.infobrcko.com/vijesti/item/32346-dinamik-turs-i-viena-tour-objavljuju-red-voznje-za-gradski-prijevoz-u-brckom.html"
                        target="_blank" class="text-white text-decoration-none">Pogledajte ovdje</a>
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Quick Links</h5>
                <p>
                    <a href="/index.html" class="text-white text-decoration-none">Početna</a>
                </p>
                <p>
                    <a href="/routes.html" class="text-white text-decoration-none">Linije</a>
                </p>
                <p>
                    <a href="/contact.html" class="text-white text-decoration-none">Kontakt</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold text-warning">Kontakt</h5>
                <p>
                    <i class="fas fa-home me-3"></i> Brčko, 76100, BiH
                </p>
                <p>
                    <i class="fas fa-envelope me-3"></i> onlinehartija@gmail.ba
                </p>
                <p>
                    <i class="fas fa-phone me-3"></i> + 387 49 123 456
                </p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p> &copy; 2025 Copyright:
                    <a href="#" class="text-white text-decoration-none">
                        <strong class="text-warning">Brčko Bus</strong>
                    </a>
                    | Ernad Osmić
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white fs-5"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white fs-5"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white fs-5"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>