<div class="page-banner text-white d-flex align-items-center"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/brcko_stanica.jpg') no-repeat center center; background-size: cover; min-height: 40vh; filter: grayscale(100%)">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 fw-bold hero-font">Red vožnje</h1>
                <p class="lead">Javni gradski prevoz Brčko</p>
            </div>
        </div>
    </div>
</div>