<div class="svg-banner-ad">
    <lightning-card title="Napoleon Banner Ad">
        <a href="https://www.facebook.com/profile.php?id=61571569738023" target="_blank">
            <img class="responsive-image" src="assets/images/napoleon_ad.webp" alt="Napoleon Ad" />
        </a>
    </lightning-card>
</div>

<style>
    .responsive-image {
        width: 100%;
        height: auto;
        display: block;
        /* Ensures the image takes up the full width of its container */
    }

    .svg-banner-ad {
        width: 100%;
        /* Make the banner ad container responsive */
    }

    .lightning-card {
        padding: 10px;
        /* Add some padding around the card */
    }
</style>